*{
    margin:0px;
    padding:0px;
}
h1{
    text-align:center;
    margin-top:20px;
    color:#fff;
    background-color: cadetblue;
}
img{
    width:100px;
    height:100px;
}
nav ul li{
    list-style:none;
    margin-left:20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
nav ul li a{
    text-decoration:none;
    color:#fff;
    padding:10px;
    border-radius:15px;
    background-color:blue;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer ul li a{
    text-decoration: none;
    padding: 20px;
}
footer ul li{
    list-style: none;
    display: inline-block;
}
.contacto{
    background-color: cadetblue;
    color: white;
    text-align: center;
    width: 60%;
    margin: auto;
    border-radius: 30px;
    padding: 20px;
    border-color: black;
    border-width:10px;
    margin-top: 20px;
    border-style: double;
}

